node_modules/
dist/
package-lock.json
.DS_Store
.vscode
/build/compiled
/homebridge-yeelighter.d.ts
/homebridge-yeelighter.min.js
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions